---
import { Icon } from "astro-icon/components";
import Social from "./Social.astro";

const currentYear = new Date().getFullYear();
---

<footer
	class="max-wb-20 mt-10 pt-20 border-t border-zinc-300 dark:border-zinc-600 px-4 md:px-30 text-center"
>
	<div>© {currentYear} Brian Ketelsen. All rights reserved.</div>
	<div class="flex justify-center space-x-6 mt-8">
		<Social />
	</div>
</footer>
