---
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<div
	class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-14 gap-y-10 md:gap-y-18"
>
	{
		projects.map((project, index) => (
			<div class="flex flex-col space-y-5 text-sm relative group">
				<h2 class="font-semibold text-lg mb-2 ">
					<div class="absolute -inset-x-3 md:-inset-x-5 -inset-y-4 rounded-lg opacity-0 scale-75 group-hover:scale-100 group-hover:opacity-100 bg-zinc-50 z-0 transition dark:bg-zinc-800" />
					<a href={project.data.url} target="_blank" rel="noopener noreferrer">
						<span class="absolute -inset-x-3 md:-inset-x-5 -inset-y-4 rounded-lg z-10" />
						<span class="relative flex items-center space-x-2">
							<Icon name={project.data.icon} class="w-5 h-5" />
							<span>{project.data.name}</span>
						</span>
					</a>
				</h2>
				<p class="relative leading-7 text-zinc-700 dark:text-zinc-300">
					{project.data.description}
				</p>
				<p class="relative flex items-center space-x-1 text-zinc-500 group-hover:text-primary-500">
					<span>{new URL(project.data.url).hostname}</span>
					<Icon name="heroicons:arrow-top-right-on-square" />
				</p>
			</div>
		))
	}
</div>
